.swiper-button {
  display: flex;
  position: absolute;
  top: 42;
  z-index: 10;
  cursor: pointer;
}

.image-swiper-button-prev {
  left: 160px;
}
.image-swiper-button-next {
  right: 160px;
}
.swiper-button-disabled {
  opacity: 0.2;
  pointer-events: none;
}

@media (max-width: 768px) {
  .image-swiper-button-prev {
    left: 20px;
  }
  .image-swiper-button-next {
    right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image-swiper-button-prev {
    left: 96px;
  }
  .image-swiper-button-next {
    right: 96px;
  }
}

@media (min-width: 1024px) and (max-width: 1260px) {
  .image-swiper-button-prev {
    left: 153px;
  }
  .image-swiper-button-next {
    right: 153px;
  }
}
